//- <!DOCTYPE html>
//- <html>
//-   <head>
//-     <title>home</title>
//-   </head>

//-   <body>
//-     <a href="place-list" style="font-size:24px">palce list</a><br />
//-     <a href="reserveProc/rsv?step=1" style="font-size:24px">reserve</a><br />
//-     <a href="login_1" style="font-size:24px">login</a>
//-   </body>
//- </html>

extends layout

block header
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    img#cont(src='/images/iut3.jpg', style='margin:auto')
    //- img(src='/images/iutlogo.png', alt='iut logo', height='65', width='220')

    div#divcont
        img.cont(src="/images/iut2.jpg", width='300', height='300')
        img.cont(src="/images/iut3.jpg", width='300', height='300')
        img.cont(src="/images/iut4.jpg", width='300', height='300')

    div#divcont
        img.cont(src="/images/iut5.jpg", width='300', height='300')
        img.cont(src="/images/iut6.jpg", width='300', height='300')
        img.cont(src="/images/iut7.jpg", width='300', height='300')