//- <!DOCTYPE html>
//- <html>
//-   <head>
//-     <title>home</title>
//-   </head>

//-   <body>
//-     <a href="place-list" style="font-size:24px">palce list</a><br />
//-     <a href="reserveProc/rsv?step=1" style="font-size:24px">reserve</a><br />
//-     <a href="login_1" style="font-size:24px">login</a>
//-   </body>
//- </html>

extends layout

block content