extends layout

block content
  form(method='POST',action='/manage/managePage')

    label(for="username") نام کاربری: 
    input(type="text", name='username')

    br

    label(for="password") رمز عبور: 
    input(type="text", name='password')

    br

    input(type='submit', value='ورود')

  br

  p(id="err_msg")
