extends layout

block header
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/rsv_2_aca.js")

block content
  p مرحله دوم- ثبت اطلاعات
  form.reserveForm#reserveFormStep2(method='POST', action='/reserveProc/rsv?step=3')
    fieldset#personal-info
      legend مشخصات متقاضی
      br

      label(for='username') شماره دانشجویی/کارمندی/استادی:
        span(style='font-size:26px;color:red;font-weight:bold') *
      input#username(type='text', name='username', required='required', value='1234567')
      
      br

      label(for='password') رمز عبور کاربری:
        span(style='font-size:26px;color:red;font-weight:bold') *
      input#password(type='password', name='password', required='required',value='pass1')
      
      br

      label(for='tel-number') شماره تلفن:
        span(style='font-size:26px;color:red;font-weight:bold') *
      input#tel-number(type='text', name='tel-number', required='required', value='0311234567')

      br

      label(for='mob-number') شماره همراه:
        span(style='font-size:26px;color:red;font-weight:bold') *
      input#mob-number(type='text', name='mob-number', required='required', value='09131234567')

    fieldset#plan-info
      legend مشخصات برنامه
      label(for='subject') موضوع:
        span(style='font-size:26px;color:red;font-weight:bold') *
      input#subject(type='text', name='subject', required='required', value='موضوع')
      
      br

      span سطح برنامه:
      br
      input(type="radio", name="level", value="int", required='required')
      | بین المللی
      input(type="radio", name="level", value="nat")
      | ملی
      input(type="radio", name="level", value="reg")
      | منطقه ای
      input(type="radio", name="level", value="prov")
      | استانی
      input(type="radio", name="level", value="oth", checked='checked')
      | سایر

      br


      label(for='sponser-name') نام اسپانسر:
      input#sponser-name(type='text', name='sponser-name', value='ندارد')

      br

      label(for='sponser-tel') تلفن اسپانسر:
      input#sponser-tel(type='text', name='sponser-tel', value='')

    fieldset#summary-info
      legend چکیده محتوای همایش
      label(for='summary') حداکثر 350 کاراکتر:
        span(style='font-size:26px;color:red;font-weight:bold') *
      textarea#summary(name="summary", cols="50", rows="4", required='required')  چکیده محتوای نمایش
      
    br

    input(type='submit', value='مرحله بعد')

    span#message
    

  a#backStep(href="rsv?step=1") مرحله قبل