extends layout

block header
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/rsv_4.js")

block content
  p مرحله چهارم- دریافت کد رهگیری

  p
    span کد پیگیری شما: 
    span=followCode
  

  a(href="/") اتمام

  br

  a#backStep(href="/reserveProc/rsv?step=3") مرحله قبل