/* Options */

#options {
  width: 75%;
}

#options > div {
  display: inline-block;
  margin: 5px 10px;
  width: 15%;
}

#options span {
  display: inline-block;
  width: 35%;
}

#options select {
  width: 65%;
}

/* Table */

#places {
  border-collapse: collapse;
  width: 75%;
  text-align: right;
}

#places td,
#places th {
  border: 1px solid #ddd;
  padding: 8px;
}

#places tr:nth-child(even) {
  background-color: #f2f2f2;
}

#places tr:hover {
  background-color: #ddd;
}

#places th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: right; */
  background-color: #4caf50;
  color: white;
}

/* Responsibility */

@media screen and (max-width: 600px) {
  #options {
    width: 50%;
  }
  #options > div {
    width: 100%;
  }
  #places {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  #options select,
  #options span {
    width: 100%;
  }
}
