/* General */

@import url("https://fonts.googleapis.com/css?family=Lalezar");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lalezar", "B Zar";
  background-color: #ccc;
  width: 100%;
}

ul#navbar {
  list-style-type: none;
  /* width: 100%; */
  margin: 5px 0 0 0;
  padding: 0 20% 0 0;
  background-color: #4aae4a;
  box-shadow: 0px 4px 10px 0px #203e20, -25px 0px 30px -25px inset #203e20,
    25px 0px 30px -25px inset #203e20;

  position: relative;
}
ul#navbar li#navLink {
  display: inline-block;
  height: 65px;
  opacity: 1;
  border-left: 1px solid #139c44;
}
ul#navbar li#navLink a {
  display: block;
  box-sizing: border-box;
  padding: 15px 40px;
  margin: 0;
  height: 100%;

  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 8px;

  color: #eee;
}

ul#navbar li#navLink a:hover {
  background-color: #249924;
  color: #fff;
}

li#navLogo {
  display: inline-block;
  position: absolute;
  left: 15%;
}
